:root{
  --accent-color: #ffffff;
  --text-color: #9e9aa8;
  --btn-color: #2BD0D0;
--link-color: #34313D;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* Header */
.site-header{
  margin-top: 48px;
  margin-bottom: 140px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: 46px;
}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}

.site-header-logo-img{
  width: 120px;
  height: 33px;
  display: block;
}

.navbar{
  margin: 0;
}

.navbar-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-item:not(:last-child) {
  margin-right: 30px;
}

.navbar-link {
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
}

.navbar-link:hover{
  opacity: 0.8;
}

.navbar-link:active{
  color: var(--link-color);
}
.register-buttons {
  margin-left: auto;
}

.btn {
  padding: 9px 23px;
  text-transform: capitalize;
  border-radius: 28px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--btn-color);
}

.btn:hover{
  opacity: 0.8;
}

.btn:active{
  opacity: 0.6;
}

.login-btn {
  background-color: transparent;
  margin-right: 37px;
  color: var(--text-color);
}

.signup-btn {
  color: var(--accent-color);
}

/* Hero */
.hero{
  display: flex;
  margin-top: 0;
  position: relative;
}

.hero__info {
  width: 565px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  color: var(--link-color);
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0`````````````````  ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````.15px;
  font-weight: medium;
}

.hero__btn {
  padding: 13px 40px;
  margin-top: 0;
}

.hero-img{
  height: 482px;
  position: absolute;
  top: -60px;
  right: -128px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
